In [1]:
import os
from typing import List
import pandas as pd
from polluters import Polluter, MissingValuePolluter

In [2]:
df = pd.read_csv("../data/clean/iris.csv")

In [3]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
def pollute(df: pd, polluters: List[Polluter]) -> pd.DataFrame:
    for polluter in polluters:
        df = polluter(df)
    return df

In [5]:
polluters = [MissingValuePolluter()]

In [6]:
df = pollute(df, polluters)

In [7]:
df

    sepal.length  sepal.width  petal.length  petal.width variety
22           4.6          3.6           1.0          0.2  Setosa