In [20]:
import pandas as pd
import numpy as np

In [21]:
# read csv file covid_data.csv
df = pd.read_csv('../classification/data/clean/covid_data.csv')

In [22]:
df = df[df.PNEUMONIA < 97]

In [23]:
df = df[df.DIABETES < 97]

In [24]:
df = df[df.COPD < 97]

In [25]:
df = df[df.ASTHMA < 97]

In [26]:
df = df[df.INMSUPR < 97]

In [27]:
df = df[df.HIPERTENSION < 97]

In [28]:
df = df[df.OTHER_DISEASE < 97]

In [29]:
df = df[df.CARDIOVASCULAR < 97]

In [30]:
df = df[df.OBESITY < 97]

In [31]:
df = df[df.RENAL_CHRONIC < 97]

In [32]:
df = df[df.TOBACCO < 97]

In [33]:
# if date died is 9999-99-99, create a new column died with value 0, otherwise 1
df['DIED'] = np.where(df['DATE_DIED'] == '9999-99-99', 0, 1)

In [34]:
 # delete colun date died, icu, intubed, pregnant
df = df.drop(columns=['DATE_DIED', 'ICU', 'INTUBED', 'PREGNANT'])

In [35]:
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,DIED
0,2,1,1,1,1,65,2,2,2,2,1,2,2,2,2,2,3,1
1,2,1,2,1,1,72,2,2,2,2,1,2,2,1,1,2,5,1
2,2,1,2,2,2,55,1,2,2,2,2,2,2,2,2,2,3,1
3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2,7,1
4,2,1,2,1,2,68,1,2,2,2,1,2,2,2,2,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,2,40,2,2,2,2,2,2,2,2,2,2,7,0
1048571,1,13,2,2,2,51,2,2,2,2,1,2,2,2,2,2,7,0
1048572,2,13,2,1,2,55,2,2,2,2,2,2,2,2,2,2,7,0
1048573,2,13,2,1,2,28,2,2,2,2,2,2,2,2,2,2,7,0
1048574,2,13,2,1,2,52,2,2,2,2,2,2,2,2,2,2,7,0

In [57]:
# write dataset to csv file
df.to_csv('../classification/data/clean/covid_data_pre_processed.csv', index=False)

In [36]:
# for classification_final column, all values > 3 should be just 4
df['CLASIFFICATION_FINAL'] = np.where(df['CLASIFFICATION_FINAL'] > 3, 4, df['CLASIFFICATION_FINAL'])
df.to_csv('../clustering/data/clean/covid_data_pre_processed_clustering.csv', index=False)

In [19]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload